---
import { LOGO_IMAGE, SITE } from "@config";

export interface Props {
  activeNav?: "about" | "projects" | "blog" | "contact";
}

const { activeNav } = Astro.props;
---

<div class="nav">
  <div class="nav-logo">
    <a href="/" class="logo whitespace-nowrap">
      {
        LOGO_IMAGE.enable ? (
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="150"
          height="80"
          viewBox="0 0 140 90"
        >
          <text
            id="_jc_"
            data-name="{ jc }"
            class="font-serif fill-base text-[200px]"
            transform="translate(-3.684 55.747) scale(0.246 0.247)">{"{ jc }"}
          </text>
        </svg>
        ) : (
          SITE.title
        )
      }
    </a>
  </div>
  <nav id="nav-menu">
    <button
      class="hamburger-menu focus-outline"
      aria-label="Open Menu"
      aria-expanded="false"
      aria-controls="menu-items"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        strokeWidth="1.5"
        strokeLinecap="round"
        strokeLinejoin="round"
        class="menu-icon"
      >
        <line x1="7" y1="12" x2="21" y2="12" class="line"></line>
        <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
        <line x1="12" y1="18" x2="21" y2="18" class="line"></line>
        <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
        <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
      </svg>
    </button>
    <ul id="menu-items" class="display-none sm:flex sm:items-center">
      <li>
        <a
          href=`${SITE.website}#projects`
          class={activeNav === "projects" ? "active" : ""}
        >
          Projects
        </a>
      </li>
      <li>
        <a
          href=`${SITE.website}#about`
          class={activeNav === "about" ? "active" : ""}
        >
          About
        </a>
      </li>
      <li>
        <a href="/posts" class={activeNav === "blog" ? "active" : ""}> Blog </a>
      </li>
      <li>
        <a
          href=`${SITE.website}#contact`
          class={activeNav === "contact" ? "active" : ""}
        >
          Get in Touch
        </a>
      </li>
      {SITE.lightAndDarkMode && (
        <li>
          <button
            id="theme-btn"
            class="focus-outline"
            title="Toggle light and dark mode"
            aria-label="auto"
            aria-live="polite"
          >
          <svg fill="#000000" height="24px" width="24px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 0 330 330" xml:space="preserve">
  <path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
    l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
    C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
          </button>
  </svg>
      </li>
      )}
    </ul>
    <ul id="mobile-menu-items" class="display-none">
      <li>
        <a
          href=`${SITE.website}#projects`
          class={activeNav === "projects" ? "active" : ""}
        >
          Projects
        </a>
      </li>
      <li>
        <a
          href=`${SITE.website}#about`
          class={activeNav === "about" ? "active" : ""}
        >
          About
        </a>
      </li>
      <li>
        <a href="/blog" class={activeNav === "blog" ? "active" : ""}> Blog </a>
      </li>
      <li>
        <a
          href=`${SITE.website}#contact`
          class={activeNav === "contact" ? "active" : ""}
        >
          Get In Touch
        </a>
      </li>
      <!-- <li>
      <svg></svg>
  </li> -->
    </ul>
  </nav>
</div>

<style>
  .nav {
    @apply flex w-full mt-4;
  }
  .nav-logo {
    @apply w-1/3 sm:w-2/12 ml-4;
  }
  #nav-menu {
    @apply flex justify-end w-10/12 mr-4;
  }
  nav li {
    @apply mx-3 list-none font-display text-2xl uppercase;
  }
  nav a.active {
    @apply underline decoration-dotted decoration-2 underline-offset-4;
  }
  .hamburger-menu {
    @apply self-start mt-3 p-2 sm:hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-base;
  }
  .menu-icon line {
    @apply transition-opacity duration-75 ease-in-out;
  }
  .menu-icon .close {
    opacity: 0;
  }
  .menu-icon.is-active .line {
    @apply opacity-0;
  }
  .menu-icon.is-active .close {
    @apply opacity-100;
  }
</style>

<script>
  function toggleNav() {
    // Toggle menu
    const menuBtn = document.querySelector(".hamburger-menu");
    const menuIcon = document.querySelector(".menu-icon");
    const menuItems = document.querySelector("#mobile-menu-items");

    menuBtn?.addEventListener("click", () => {
      const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
      menuIcon?.classList.toggle("is-active");
      menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
      menuBtn.setAttribute(
        "aria-label",
        menuExpanded ? "Open Menu" : "Close Menu",
      );
      menuItems?.classList.toggle("display-none");
    });
  }

  toggleNav();

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", toggleNav);
</script>
